ClinicDTOs/META-INF/ProviderDTO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	jaxb:version="2.0"
	targetNamespace="http://cs548.stevens.edu/clinic/service/web/data/provider"
	xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/ProviderDTO"
	elementFormDefault="qualified">

	<annotation>
		<appinfo>
			<jaxb:globalBindings>
				<jaxb:javaType name="java.util.Date" xmlType="date"
					parseMethod="edu.stevens.cs548.clinic.service.dto.DateAdapter.parseDate"
					printMethod="edu.stevens.cs548.clinic.service.dto.DateAdapter.printDate" />
			</jaxb:globalBindings>
		</appinfo>
	</annotation>

	<element name="provider-dto">
		<complexType>
			<sequence>
				<element name="provider-id" type="long"></element>
				<element name="name" type="string"></element>
				<element name="specialization" type="string"></element>
				<element name="treatments" type="long" nillable="true"
					minOccurs="0" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>
</schema>